/* 親nodeのcss */

.grandParent {
  margin-top: 70px;
  padding-bottom: 150px;
  max-width: 300;
  position: relative;
  font-size: 8px;
}

.timeParent {
  padding-bottom: 50px;
  max-width: 300;
  height:  110px;
  position: relative;
  font-size: 7px;
  z-index: 0;
}

.themeParent {
  margin-top: 20px;
  padding-bottom: 120px;
  max-width: 300;
  height:  90px;
  position: relative;
  font-size: 8px;
  z-index: 0;
}

.secondParent {
  margin-top: 30px;
  margin-bottom: 90px;
  padding-bottom: 135px;
  max-width: 300;
  height: 70px;
  position: relative;
  font-size: 8px;
}

.themesParent {
  margin-top: 50px;
  margin-bottom: 80px;
  padding-bottom: 140px;
  max-width: 300;
  height: 80px;
  position: relative;
  font-size: 9px;
}

.ShowPictureParent {
  margin-top: 60px;
  padding-bottom: 160px;
  max-width: 300;
  height: 100px;
  position: relative;
  font-size: 11px;
}

.parent {
  margin-top: 80px;
  padding-bottom: 160px;
  max-width: 300;
  height: 50px;
  position: relative;
  font-size: 9px;
}

/* 額縁①用のcss */
.first {
  background-color: #fff;
  box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
              0 3px 1px hsla(0,0%,100%,.75),
              0 -1px 1px 2px hsla(0,0%,0%,.1);
  height: 18em;
  left: 51%;
  margin: -9.875em -13em;
  padding: .5em;
  position: absolute;
  top: 50%;
  width: 24em;
}

/* Frame */

.first:before {
  background-color: #22130c;
  bottom: -2.5em;
  box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
              inset 0 -2px 1px hsla(0,0%,0%,.4),
              0 5px 50px hsla(0,0%,0%,.25),
              0 20px 20px -15px hsla(0,0%,0%,.2),
              0 30px 20px -15px hsla(0,0%,0%,.15),
              0 40px 20px -15px hsla(0,0%,0%,.1);
  content: '';
  left: -2.5em;
  position: absolute;
  right: -2.5em;
  top: -2.5em;
  z-index: -1;
}

/* Mat */

.first:after {
  background-color: #fff5e5;
  bottom: -1.5em;
  box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
              0 -1px 1px 1px hsla(0,0%,0%,.4),
              inset 0 2px 3px 1px hsla(0,0%,0%,.2),
              inset 0 4px 3px 1px hsla(0,0%,0%,.2),
              inset 0 6px 3px 1px hsla(0,0%,0%,.1);
  content: '';
  left: -1.5em;
  position: absolute;
  right: -1.5em;
  top: -1.5em;
  z-index: -1;
}

/* Images */

.first img {
  height: 18.75em;
  width: 25em;
  vertical-align: top;
}

/* ２つ目の額縁 */
.second {
  border:solid 3em #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  height: 24em;
  right: 46%;
  margin: -9.875em -13em;
  position: absolute;
  top: 40%;
  width: 29em;
}

.second:before {
  border-radius:2px;
  bottom:-3em;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left:-3em;
  position:absolute;
  right:-3em;
  top:-3em;
}

.second:after {
  border-radius:2px;
  bottom:-1.5em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left:-1.5em;
  position:absolute;
  right:-1.5em;
  top:-1.5em;
}

.second img {
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-width:100%;
}


/* 関連ボタンのcss */
.likes {
  max-width: 300px;
  display: flex;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
