<p>画HACK運営です。</p>
<p>アカウントのパスワードリセットが許可されました。</p>
<p>パスワードを変更するために下のリンクをクリックしてください。</p>

<%= link_to "パスワードを再設定する", edit_user_password_url(reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']).html_safe %>

<p>このメールに心当たりがない場合、他の方がパスワードをリセットする際に誤ってお客様のメール アドレスを入力した可能性があります。</p>
<p>リクエストした覚えがない場合は、何も行わずにこのメールを破棄してください。</p>
